body{
    display: flex;
    flex-direction: column;
   
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon{
    display: flex;
}

.section-1{
    background-color: rgb(44, 44, 62);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 400px;
    flex-wrap: wrap;
}

.content-11,
.content-12{
    display: flex;
    flex-direction: column;
    flex: 0 1 400px;
}

.content-11{
     align-items: start;
     padding: 30px;
}

.content-12{
     align-items: end;
     padding: 30px;
}

h1{color: white;}

.subtext{
    color: #eee;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 100px;
}

button{
    width: 80px;
    height: auto;
    background-color: rgb(57, 97, 255);
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    color: #eee;
    padding: 16px;
    gap: 16px;
}

li{
   flex: 1 0 auto; 
}

.img-dog{
    width: 200px;
    height: auto;
    display: flex;
}

.section-2{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

.illustration-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

.illustration{
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
}

.ill{
    border: solid blue;
    border-radius: 15px;
}

.section-3{
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.content-31{
    display: flex;
    flex-direction: column;
    padding-left: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 400px;
}

.quote{
    display: flex;
    flex-wrap: wrap;
    font-style: italic;
    
}

.thor{
    display: flex;
    width: 200px;
    margin-left: auto;
    margin-top: -16px;
}

.section-4{
    background-color: white;
}