body{
    display: flex;
    flex-direction: column;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-1 {
    display: flex;
    flex-direction: column;
    background-color: rgb(35, 41, 58);
    justify-content: center;
    align-items: center;
}

.content-1{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    padding-bottom: 100px;
}

.header-section-1{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.icon{
    border-radius: 100px;
    max-width: 64px;
    max-height: 87px;
    overflow: clip;
}

.header-links{
    display: flex;
    flex-wrap: wrap;
}

ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    color: #eee;
    gap: 16px;
}

li{
   flex: 1 0 auto; 
}


.content-5{
    display: flex;    
    gap: 40px;
    overflow: clip;
}

.content-header{
    color: white;
    flex-wrap: wrap;
}

.subtext{
    color: #eee;
    flex-wrap: wrap;
}

button{
    display: flex;
    background-color: rgb(33, 126, 255);
    color: white;
    font-weight: 700;
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 20px;
    border-radius: 5px;
}


.img-dog{
    max-width: 100%;
    height: 100%;
}


.section-2{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 64px;
}

.illustration-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

.illustration{
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
}

.ill, .blue-box{
    border: solid blue;
    border-radius: 15px;
}

.section-3{
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.content-31{
    display: flex;
    flex-direction: column;
    padding: 64px;
}

.quote{
    display: flex;
    flex-wrap: wrap;
    font-style: italic;
    line-height: 2;
    
}

.thor{
    display: flex;
    width: 200px;
    margin-left: auto;
    margin-top: -16px;
}

.section-4{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 64px;
}

.blue-box{
    display: flex;
    flex-direction: row;
    background-color: rgb(33, 126, 255);
    padding: 16px;
    color: #eee;
    height: auto;
    justify-content: space-evenly;
    gap: 32px;
    width: 100%;
}
.blue-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h3{
    color: white;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-button{
    border: solid white 1px;
}